@font-face {
  font-family: Inter-Medium;
  src: url("./../Fonts/Inter/Inter-Medium.ttf");
}
@font-face {
  font-family: Inter-Black;
  src: url("./../Fonts/Inter/Inter-Black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.page-wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.page-wrapper .mainNav {
  font-family: Inter-Black;
  padding: 0 35px;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page-wrapper .mainNav__title {
  font-size: 2.1em;
}
.page-wrapper .mainNav__burger {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9.25px 7px;
  z-index: 10;
}
.page-wrapper .mainNav__burger .burger__element {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: #9A9A9A;
  border-radius: 2px;
}
.page-wrapper .mainNav__wrapper {
  padding: 80px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s transform;
  pointer-events: none;
  transform: translateX(-100%);
  list-style-type: none;
}
.page-wrapper .mainNav__wrapper.active {
  pointer-events: all;
  z-index: 1;
  transform: translateX(0);
}
.page-wrapper .mainNav__wrapper .mainNav__element .mainNav__link {
  font-size: 26px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 4px #0028ff, 2px 2px 6px rgba(38, 50, 76, 0.04);
  transition: tex-shadow 0.4s, color 0.4s;
}
.page-wrapper .mainNav__wrapper .mainNav__element .mainNav__link:hover {
  color: #0028ff;
  text-shadow: 0px 0px 4px #fff, 2px 2px 6px rgba(38, 50, 76, 0.34);
}
.page-wrapper .mainNav__wrapper .mainNav__element .mainNav__link--button {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 142px;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  /* identical to box height, or 185% */
  letter-spacing: -0.2px;
  color: #FFFFFF;
  background-color: #0028ff;
}
.page-wrapper .mainHeader .mainHeader__img .small, .page-wrapper .mainHeader .mainHeader__img .medium {
  width: 100%;
}
.page-wrapper .mainHeader .mainHeader__img .small img, .page-wrapper .mainHeader .mainHeader__img .medium img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
.page-wrapper .mainHeader .mainHeader__img .small {
  display: none;
}
.page-wrapper .mainHeader .mainHeader__text {
  font-family: Inter-Medium;
  background: #F4F4F5;
  padding: 80px 35px;
  position: relative;
}
.page-wrapper .mainHeader .mainHeader__text .mainHeader__title {
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #293033;
  margin-bottom: 24px;
}
.page-wrapper .mainHeader .mainHeader__text .mainHeader__subtitle {
  font-family: Inter-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.7px;
}
.page-wrapper .mainHeader .mainHeader__text .mainHeader__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-wrapper .mainWrapper {
  padding: 80px 35px;
}
.page-wrapper .mainWrapper__mainContent {
  font-family: Inter-Medium;
}
.page-wrapper .mainWrapper__mainContent .intro {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */
  display: flex;
  align-items: center;
  letter-spacing: -0.7px;
  color: #52636F;
  margin-bottom: 120px;
}
.page-wrapper .mainWrapper__mainContent .main__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
}
.page-wrapper .mainWrapper__mainContent .main__text, .page-wrapper .mainWrapper__mainContent .main__list {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  align-items: center;
  letter-spacing: -0.3px;
  color: #52636F;
}
.page-wrapper .mainWrapper__mainContent .main__list {
  margin: 30px auto 80px auto;
  list-style-type: none;
}
.page-wrapper .mainWrapper__mainContent .main__list .main__listElement:before {
  content: "- ";
}
.page-wrapper .mainWrapper__desc {
  display: flex;
  flex-direction: column;
}
.page-wrapper .mainWrapper__desc .client, .page-wrapper .mainWrapper__desc .workDuration, .page-wrapper .mainWrapper__desc .scope {
  font-family: Inter-Medium;
}
.page-wrapper .mainWrapper__desc .client__title, .page-wrapper .mainWrapper__desc .workDuration__title, .page-wrapper .mainWrapper__desc .scope__title {
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #6C869A;
  margin-bottom: 8px;
}
.page-wrapper .mainWrapper__desc .client__name, .page-wrapper .mainWrapper__desc .workDuration__name, .page-wrapper .mainWrapper__desc .scope__name {
  letter-spacing: -0.7px;
  color: #293033;
  font-size: 24px;
  line-height: 36px;
}
.page-wrapper .mainWrapper__desc .client__name span, .page-wrapper .mainWrapper__desc .workDuration__name span, .page-wrapper .mainWrapper__desc .scope__name span {
  text-transform: uppercase;
}
.page-wrapper .mainWrapper__desc .client__country, .page-wrapper .mainWrapper__desc .client__time, .page-wrapper .mainWrapper__desc .workDuration__country, .page-wrapper .mainWrapper__desc .workDuration__time, .page-wrapper .mainWrapper__desc .scope__country, .page-wrapper .mainWrapper__desc .scope__time {
  letter-spacing: -0.3px;
  color: #52636F;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;
}
.page-wrapper .mainWrapper__desc .client__description, .page-wrapper .mainWrapper__desc .workDuration__description, .page-wrapper .mainWrapper__desc .scope__description {
  line-height: 24px;
  /* or 160% */
  letter-spacing: -0.2px;
  color: #0028FF;
  margin-bottom: 160px;
}
.page-wrapper .mainWrapper .mainWrapper__slider {
  width: 100vw;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin-left: -35px;
  overflow: hidden;
  align-items: center;
}
.page-wrapper .mainWrapper .mainWrapper__slider .slider__slides {
  display: flex;
  height: 80%;
  width: 300vw;
  transition: 0.4s;
  margin-bottom: 40px;
}
.page-wrapper .mainWrapper .mainWrapper__slider .slider__slides .slide {
  width: 100vw;
  height: 280px;
}
.page-wrapper .mainWrapper .mainWrapper__slider .slider__slides .slide img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
  object-position: center center;
}
.page-wrapper .mainWrapper .mainWrapper__slider .slider__controlls {
  width: 88px;
  display: flex;
  justify-content: space-between;
}
.page-wrapper .mainWrapper .mainWrapper__slider .slider__controlls .leftArrow, .page-wrapper .mainWrapper .mainWrapper__slider .slider__controlls .rightArrow {
  cursor: pointer;
}
.page-wrapper .quote {
  padding: 120px 35px;
  background: #F4F4F5;
  font-family: Inter-Medium;
  position: relative;
}
.page-wrapper .quote__text .text {
  font-size: 24px;
  line-height: 36px;
  /* or 150% */
  letter-spacing: -0.7px;
  color: #293033;
  margin-bottom: 32px;
}
.page-wrapper .quote__text .quote__visitcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  max-width: 304px;
}
.page-wrapper .quote__text .quote__visitcard .visitcard__img {
  width: 40px;
  margin-right: 24px;
  flex-grow: 1;
}
.page-wrapper .quote__text .quote__visitcard .visitcard__description {
  flex-grow: 2;
}
.page-wrapper .quote__text .quote__visitcard .visitcard__description .visitcard__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.page-wrapper .quote__text .quote__visitcard .visitcard__description .visitcard__name .name {
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  letter-spacing: -0.3px;
  color: #293033;
}
.page-wrapper .quote__text .quote__visitcard .visitcard__description .visitcard__name .ico {
  margin-left: 18.25px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrapper .quote__text .quote__visitcard .visitcard__description .visitcard__name .ico img {
  height: 60%;
}
.page-wrapper .quote__text .quote__visitcard .visitcard__description .companyStatus {
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 185% */
  letter-spacing: -0.1px;
  color: #6C869A;
}
.page-wrapper .quote__graphic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-wrapper .social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 35px;
  background: #fff;
}
.page-wrapper .social__icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  box-shadow: 0px 0px 24px rgba(38, 51, 77, 0.08), 2px 2px 6px rgba(38, 50, 76, 0.04);
  margin-right: 24px;
}
.page-wrapper .social__icons .icon:last-of-type {
  margin-right: 0;
}
.page-wrapper .learnMore {
  padding: 80px 35px;
  background: #F4F4F5;
  font-family: Inter-Medium;
}
.page-wrapper .learnMore__text {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 55px;
  /* or 133% */
  text-align: center;
  letter-spacing: -1px;
  letter-spacing: -1px;
  color: #293033;
}
.page-wrapper .learnMore__text span {
  color: #0028FF;
}
.page-wrapper .learnMore__text span + span {
  color: #6D7880;
}
.page-wrapper .learnMore__text span span {
  text-transform: uppercase;
}
.page-wrapper .learnMore__tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-wrapper .learnMore__tabs .tab {
  width: 272px;
  height: 120px;
  margin-bottom: 24px;
  border: 2px solid #0028ff;
  color: white;
  background-color: #0028FF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;
}
.page-wrapper .learnMore__tabs .tab:hover {
  background-color: #F2F2F2;
  color: #0028ff;
}
.page-wrapper .learnMore .button {
  font-family: Inter-Black;
  margin-top: 16px;
  color: #0028FF;
  font-size: 13px;
  line-height: 24px;
  padding: 8px 35px;
  /* identical to box height, or 185% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.2px;
  border: 2px solid #0028FF;
  box-sizing: border-box;
  border-radius: 2px;
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
}
.page-wrapper .learnMore .button:hover {
  background: #0028FF;
  color: white;
}
.page-wrapper .question {
  padding: 40px 35px;
  background-color: #0028ff;
  font-family: Inter-Medium;
  position: relative;
  display: flex;
  flex-direction: column;
}
.page-wrapper .question__title {
  font-size: 36px;
  line-height: 48px;
  /* or 133% */
  letter-spacing: -1px;
  color: #FFFFFF;
}
.page-wrapper .question__text {
  font-size: 24px;
  line-height: 36px;
  /* or 150% */
  display: flex;
  align-items: center;
  letter-spacing: -0.7px;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.page-wrapper .question__button {
  text-transform: capitalize;
  background: #0028FF;
  color: white;
  font-family: Inter-Black;
  width: 257px;
  height: 56px;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 185% */
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.3px;
  border: 2px solid #0028FF;
  box-sizing: border-box;
  border-radius: 2px;
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
}
.page-wrapper footer {
  font-family: Arial;
  padding: 3px 35px;
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #0028FF;
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .page-wrapper .mainHeader .mainHeader__img .small, .page-wrapper .mainHeader .mainHeader__img .medium {
    display: block;
  }
  .page-wrapper .mainHeader .mainHeader__img .medium {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
